   h1{
        background-color: black;
        font-size: larger;
    }
    #para1{
        background-color: aqua;
        font-size: larger;
        
    }
    #para3{
      background-color: blue;
        font-size: xx-small;
        
    }
        

    




